.recipe-show-page {
  
  .navbar-main {
    // position: absolute;
    width: 100%;
    // opacity: 0.85;  
  }
}

.recipe-show-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(45, 50%, 88%);
  
  img {
    width: 100%;
  }

  .recipe-show-information{
    position: absolute;
    right: 6%;
    top: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(20,20,20);
    width: 500px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.8);
    padding: 20px;

    h1 {
      font-size: 4rem;
      font-weight: 600;
      // margin-left: -3px;
      text-align: center;
    }

    > span {
      display: block;
      width: 80%;
      background-color: white;
      color: black;
      font-size: 1.75rem;
      font-weight: 600;
      padding: 20px;
      border-radius: 10px;
      box-shadow: inset 0 0 5px 0 rgb(56, 56, 56);

      span { 
        font-style: italic; 
        margin-right: 10px;
        font-weight: 400;
      }
    }
  }

  .recipe-show-main {
    width: 70%;
    margin-bottom: 200px;
  }

  .recipe-show-ingredients, .recipe-show-instructions, .recipe-show-servings, .recipe-show-time {
    margin: 40px 0 ;
    width: 70%;
    
    h2 {
      font-size: 4rem;
      margin: 40px 0 20px 40px;
    }

    li > .comments-container, > .comments-container {
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      position: relative;
      > span {
        margin-left: 0;
      }

      &:hover, &.active {
        background: rgba(200,200,200,0.3);

        > .recipe-comments-popout > span{
            visibility: visible;
        }
      }


      .recipe-comments-popout {
        position: relative;
        >span {
          visibility: hidden;
          position: relative;
          color: rgb(150,150,180);
          &:hover {
            color: rgb(20,20,50);
          }
        }

        .comment-balloon-content {
          position: absolute;
          right: 8px;
          bottom: 8px;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .recipe-comments {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1.25rem;
          width: calc((100vw / 3) );
          min-height: 150px;
          left: 60px;
          background-color: hsl(45, 100%, 98%);
          border-radius: 10px;


          .link-login {
            text-decoration: underline;
            &:hover {
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
        
      }
    }
  }
}

.recipe-show-ingredients {
  border: 1px solid black;
  background-color: hsl(45, 100%, 98%);;
  border-radius: 10px;
  padding-bottom: 20px;

  > h2:first-child { margin-top: 30px;}

  li > .comments-container {
    font-size: 1.75rem;
    padding: 20px;
    padding-left: 40px;
    
    .recipe-comments {
      top: -20px;
    }
  }
}

.recipe-show-instructions {

  li > .comments-container {
    font-size: 1.75rem;
    line-height: 1.75rem;
    padding: 15px 20px;

    >span { 
      font-size: 1.25rem;
      margin-right: 25px;

      >span:first-child {
        position: absolute;
      }
      >span:nth-child(2) {
        padding-left: 25px;
        display: inline-block;
      }
    }

    .recipe-comments {
      top: -15px;

    }

  }
}

.recipe-show-time, .recipe-show-servings {
  .comments-container {
    font-size: 1.75rem;
    line-height: 1.75rem;
    padding: 20px;

    .recipe-comments {
      top: -20px;
    }
  }
}