.recipe-create-div {
  width: 100vw;
  height: 100vh;
  /* background-color: khaki; */
  overflow: hidden;
  border: 20px solid rgba(245, 245, 245, 0.692);
  border-radius: 50px;
  display: flex;
  background-color: rgba(245, 245, 245, 0.692)
}

.recipe-create-image {
  width: 40%;
  height: auto;
}

.recipe-create-div-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  background-color: rgb(226, 162, 90);
  width: 60%;
  height: 100vh;
}

.recipe-create-left {
  width: 50%;
  height: 100vh;
}

.recipe-not-ingredients {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.recipe-not-ingredients > h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 20px;
}

.recipe-name, .recipe-servings, .recipe-directions {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 6px;
  width: 85%;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

#recipe-name, #recipe-servings, #recipe-directions {
  padding-top: 8px;
  font-size: 18px;
  /* box-sizing: border-box; */
  margin-left: 10px;
  margin-right: 10px;
}

label {
  font-size: 20px;
  background-color: white;
  text-align: center;
}

/* INGREDIENTS */
.recipe-create-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-image, .recipe-time {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 6px;
  width: 85%;
  margin-top: 10px; 
  margin-bottom: 10px; 
}

#recipe-image, #recipe-time {
  /* padding-top: 8px; */
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.ingredient-outer-form {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  height: 70%;
}

.recipe-ingredients-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.ingredient-input-div {
  display: flex;
  flex-direction: column;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 8px;
  background-color: white;
  border: 3px solid black;
  border-radius: 6px;
  width: 85%;
  height: 100%;
  overflow-y: scroll;
}

[class*="ingredient-num-"] {
  border-bottom: 1px solid gray;
  padding-top: 5px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#add-ingredient-btn {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  right: 15vh;
}

#recipe-create-btn {
  background-color: white;
  font-size: 20px;
  text-align: center;
  width: 85%;
  height: 50px;
  margin-top: 10px;
  border: 4px;
  border-radius: 6px;
  border-style: outset;

  border: solid 8px rgb(126, 126, 126); 
  clip-path: polygon( 
    calc(0% + 3px) calc(0% + 3px), 
    calc(100% - 3px) calc(0% + 3px), 
    calc(100% - 3px) calc(100% - 3px),
    calc(0% + 3px) calc(100% - 3px)
  );
  transition: clip-path 0.3s linear;

}

#recipe-create-btn:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-color: rgb(45, 164, 45)
}

input textarea {
  background-color: white;
  border-radius: 6px;
}
    
/* ERRORS */
[class*="Errors-create"] {
  color: #A44A3F;
  background-color: whitesmoke;
  border: .5px solid #F19C79;
  width: 160px;
  padding: 3px;
  position: relative;
  right: 150px;
  top: 32px;
  margin-top: -40px;
  transform: translateX(0px);
  animation: slide-left 2s;
}

@keyframes slide-left {
  from {left: 50px;}
  to {left: -150px;}
}

.servingsErrors-create {
  margin-top: -24px;
}
