.navbar-main {
  background: #fff0c2;
  color: #393E41;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.nbl-homeLink {
  color: #499F68;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.sessionButton {
  /* background: #499F68; */
  color: #499F68;
  /* border-radius: 3px;
  font-size: 15px; */
  margin-right: 10px;
  /* padding: 3px 15px;
  text-align: center;
  width: 90px;  */
}