.navbar-main {
  background: #FFFAEB;
  color: #393E41;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.navbar-right {
  color: #499F68;
  display: flex;
  align-items: center;
}

.navbar-right p {
  color: #333;
  margin-right: 15px;
}

.nbl-logo {
  background: url(./lemon-slice.svg);
  background-size: 100%;
  border-radius: 2px;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

.nbl-homeLink {
  color: #499F68;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.sessionButton {
  color: #499F68;
  font-size: 16px; 
  margin-right: 10px;
  font-family: 'Barlow', sans-serif;
}

.nbr-uploadContainer {
  display: flex;
  align-items: center;
  display: relative;
}

.nbr-uploadButton {
  color: #F25C0E;
  margin-right: 15px;
}

.nbr-uploadText {
  display: none;
}

.nbr-uploadButton:hover + .nbr-uploadText {
  background: #F25C0E;
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  height: 25px;
  position: absolute;
  top: 40px;
  transition: ease-out 5s;
  right: 320px;
  width: 125px;
}