.splash-main {
  background: #fff;
}

.splash-main-searchbar {
  background: url('./splash01.jpeg');
  background-size: 100%;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.sms-searchForm input {
  background: white;
  border: 1px solid #999;
  border-radius: 18px;
  padding: 10px 10px;
  position: relative;
  width: 400px;
}

.sms-searchForm button {
  color: #499F68;
  position: relative;
  top: 2px;
  right: 28px;
}

.splash-main-recipes {
  background: #F2F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-main-recipes h2 {
  color: #F25C0E;
  font-size: 28px;
  font-weight: 300;
  margin: 50px 25px 0;
  text-align: center;
}

.smc-trendingRecipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

.splashGrid-recipeName {
  background: #FFFAEB;
  color: #333;
  height: 52px;
  padding: 10px 20px;
}

.smc-trendingRecipes li {
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  position: relative;
  height: 100%;
  width: 300px;
}

.splash-main-tagline {
  background: url('./splash02.jpg');
  background-size: 100%;
  /* box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 350px;
}

.splash-main-tagline p {
  font-size: 35px;
  font-weight: 200;
  padding: 20px;
  position: absolute;
  text-align: right;
  top: 25px;
  right: 25px;
  width: 450px;
}

.splash-main-footer {
  background: #FFFAEB;
  color: #999;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 40px 50px 40px;
}

.smf-social {
  font-size: 25px;
  padding: 0 15px;
}

.smf-promo-links {
  text-align: right;
  line-height: 16px;
}

.smf-promo-links h3 {
  color: #393E41;
  font-size: 16px;
}

