.splash-main {
  background: #fff;
}

.splash-main-searchbar {
  background: url('./splash01.jpeg');
  background-size: 100%;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.sms-searchForm input {
  background: white;
  border: 1px solid #999;
  border-radius: 18px;
  padding: 10px 15px;
  position: relative;
  width: 400px;
}

.sms-searchForm button {
  color: #499F68;
  position: relative;
  top: 2px;
  right: 28px;
}

.splash-main-recipes {
  background: #F2F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-main-recipes h2 {
  color: #F25C0E;
  font-size: 28px;
  font-weight: 300;
  padding: 50px 25px 20px;
  text-align: center;
}

.smc-recipes {
  height: 580px;
  width: 1400px; 
}

.carouselButton {
  transform: translateX(685px) translateY(-380px);
}

.carousel__inner-slide {
  display: flex;
  flex-wrap: wrap;
}

.horizontalSlider___281Ls.carousel__slider.carousel__slider--horizontal {
  height: 900px;
  transform: translateX(20px);
}

.slideInner___2mfX9.carousel__inner-slide {
  height: 300px;
}

.splashGrid-item {
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 210px;
  width: 300px;
}

.splashGrid-recipeName {
  background: #FFFAEB;
  color: #333;
  height: 52px;    
  width: 300px;
  padding: 10px 20px;
}

.splashGrid-recipeImg {
  height: 160px;
}

.splash-main-tagline {
  background: url('./splash02.jpg');
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 350px;
}

.splash-main-tagline p {
  font-size: 35px;
  font-weight: 200;
  padding: 20px;
  position: absolute;
  text-align: right;
  top: 25px;
  right: 25px;
  width: 450px;
}

.splash-main-footer {
  background: #FFFAEB;
  color: #999;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 40px 50px 40px;
}

.smf-social {
  font-size: 25px;
  padding: 0 15px;
}

.smf-promo-links {
  text-align: right;
  line-height: 16px;
  cursor: pointer;
}

.smf-promo-links h3 {
  color: #393E41;
  font-size: 16px;
}


/****************************/
.teamMembers > li > div {
  /* display: none; */
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 140px;
  bottom: 50px;
  font-size: 40px;
}

.teamMembers > li > div > a {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.teamMembers > li:hover > div > a {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* right: 140px;
  bottom: 50px; */
  justify-content: space-between;
}

.teamMembers > li:hover {
  color: blue;
}
